<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
  <h1>Welcome to our Referral Program!</h1>
  <p>Hello <%= @referral_email.recipient_email %>,</p>
  <p>You've been invited to join our referral program by <%= @referral_email.sender_name %>.</p>
  <p>Please click the following link to sign up:</p>
  <p><a href="<%= new_user_registration_url %>">Sign Up</a></p>
  <p>Thank you,</p>
  <p>The Referral Team</p>
</body>
</html>
